name: Build APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev lld
          pip install --upgrade pip
          pip install "Cython<3.0" buildozer

      - name: Build with Buildozer
        run: |
          # El secreto: limitamos la memoria de Gradle para que no explote
          export GRADLE_OPTS="-Dorg.gradle.jvmargs=-Xmx2048m"
          yes | buildozer -v android debug
        env:
          LDFLAGS: "-fuse-ld=lld"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Mi_APK_Final
          path: bin/*.apk
